/.abstracts.aadlbin
/.controller.aadlbin
/.data_types.aadlbin
/.error_library.aadlbin
/.hereProduct.aadlbin
/.integration.aadlbin
/.platform.aadlbin
/.platform_implementation.aadlbin
/.sensor.aadlbin
/.states.aadlbin
